.tpbuttonWrapper {
  display: flex;
  flex-direction: row;
  margin: 1.5em 0 1.5em 0;
}

.tpfilterButton {
  background-color: white;
  color: grey;
  border: var(--violet) 1px solid;
  padding: 0.4em;
  font: inherit;
  cursor: pointer;
  outline: var(--violet);
  border-radius: 10pt;
  margin-right: 0.5em;
  transition-duration: 0.4s;
}

.tpfilterButton:hover {
  color: white;
  background-color: var(--violet);
}

.tpresultWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-auto-rows: minmax(180px, auto);
  row-gap: 4em;
  column-gap: 1em;
}

.tpresultCard {
  flex: 1 1 200px;
}
