:root {
  --violet: #655cf3;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: "Manrope", sans-serif;
  max-width: 100%;
}

.appContainer {
  max-width: 80%;
  margin: 0 auto 0 auto;
}

.footerSpacer {
  height: 4em;
}

* a:link {
  text-decoration: none;
}

.error-message {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.line {
  display: inline-block;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.flexGrow {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
