:root {
  --violet: #655cf3;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: "Manrope", sans-serif;
  max-width: 100%;
}

.appContainer {
  max-width: 80%;
  margin: 0 auto 0 auto;
}
